In [5]:
#including the required libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#importing the csv file
df_forest = pd.read_csv (r'C:\Users\archana\Downloads\forestfires.csv')
print (df_forest)

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [14]:
x=df_forest.loc[:,['X','Y','FFMC','DMC','DC','ISI','temp','RH','wind','rain']]
y=df_forest.iloc[:,-1]
x

     X  Y  FFMC    DMC     DC   ISI  temp  RH  wind  rain
0    7  5  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0
1    7  4  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0
2    7  4  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0
3    8  6  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2
4    8  6  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0
..  .. ..   ...    ...    ...   ...   ...  ..   ...   ...
512  4  3  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0
513  2  4  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0
514  7  4  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0
515  1  4  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0
516  6  3  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0

[517 rows x 10 columns]

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit_transform(x)

array([[ 1.00831277,  0.56986043, -0.80595947, ...,  0.41172435,
         1.49861442, -0.07326831],
       [ 1.00831277, -0.24400101, -0.00810203, ..., -0.69245628,
        -1.74175564, -0.07326831],
       [ 1.00831277, -0.24400101, -0.00810203, ..., -0.69245628,
        -1.51828184, -0.07326831],
       ...,
       [ 1.00831277, -0.24400101, -1.64008316, ...,  1.57724834,
         1.49861442, -0.07326831],
       [-1.58736044, -0.24400101,  0.68095666, ..., -0.14036597,
        -0.00983371, -0.07326831],
       [ 0.57570057, -1.05786246, -2.02087875, ..., -0.81514302,
         0.26950853, -0.07326831]])

In [21]:
#Creating linear regression model MODEL1 to predict the data of area
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

x_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.20, random_state=5)

MODEL1=LinearRegression()
MODEL1.fit(x_train,y_train)

LinearRegression()

In [22]:
predicted_m1 = MODEL1.predict(X_test)
predicted_m1

array([20.68523594,  1.80566183,  7.46368083, 28.12636012,  3.79518316,
       22.96447661, 21.13866426, 27.9828538 ,  1.30475076, 23.98856045,
       15.06907608, 22.24986612, 20.64090994, 22.71184683, 15.54649946,
       10.72601395, 14.47621582, 19.50859073,  5.94991126, 12.52966276,
        7.79903446, 21.17282814,  7.20235   , 12.49720081,  4.7934489 ,
        7.82045566,  3.57299693,  6.60258109,  3.84609582, 11.21900808,
        5.88994783,  6.71080405,  8.47561089, 17.8326537 , 25.41196325,
        7.44938504, 24.15624785, 14.7710441 ,  4.74340486,  6.76952584,
       31.15562777, 12.28157863,  9.42678705,  0.23814431, 16.15684652,
       23.51394435,  7.27080871,  1.85861982, 16.25635233, 27.45879362,
        7.50656308,  8.01700228,  5.08917509, 11.88946781, 10.26178347,
       -0.15254765,  2.24855099,  4.82405887,  5.28622443,  7.40909431,
       18.70759978, 13.8735271 , 19.87050146, 13.50162566, 12.80885004,
        6.14072949, 11.84223711,  5.91168144, 27.22111469, 26.03359303,
        9.34322687, 24.9129601 ,  6.44921115, 13.76339896, 18.29156334,
       12.7659847 , -0.1826842 ,  7.95051453,  8.13849353, 18.26306249,
        4.53424149, 11.53892115, 11.35984482,  6.68978944,  7.7954073 ,
       11.63998256,  4.46590503,  5.33312791, 12.01805283, 12.01535292,
        0.08307015,  9.28611717,  1.46835041,  9.02186962, 10.20979454,
        7.26944649,  5.02610708, 21.5684832 ,  7.73192621, 15.33477669,
       29.52420364, 11.95830887, 13.37701013, 11.63998256])

In [23]:
from sklearn.metrics import r2_score,mean_squared_error
score_r2=r2_score(y_test,predicted_m1)
score_r2

0.011689501209142583

In [24]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score

print('MSE =', mse(predicted_m1, y_test))
print('MAE =', mae(predicted_m1, y_test))

MSE = 11322.36512222583
MAE = 22.799012781369

In [25]:
#Accuracy
result = MODEL1.score(X_test,y_test)
result

0.011689501209142583